.paginator {
    margin: 20px auto;
    width: fit-content;
    max-width: 100%;
    flex-wrap: wrap;
    .page {
        cursor: pointer;
        user-select: none;
        margin:auto;    
    }
    .item{
        margin: 0 5px;
        width: 20px;
        height: 20px;
        display: flex;
    }
    i {
        user-select: none;
    }
    .active_page {
        background-color: #e6dcde;
        border-radius: 50%;
    }
}