<div class="settings_content">
    <div class="settings_container" container>
        <app-box [header]="setting?.name">
            <div class="container" display-flex>
                <div *ngIf="setting?.key?.toLowerCase() !=='news'" class="inner" [innerHTML]="setting?.description"
                    [ngStyle]="{'width':(setting?.key?.toLowerCase()==='contacts')? '50%' : '100%'}">
                </div>
                <div *ngIf="setting?.key?.toLowerCase() =='news'">
                    <announcement-list>
                        <announcement-list-item *ngFor="let item of news" [value]="item">
                        </announcement-list-item>
                    </announcement-list>
                </div>
                <div class="gmap">
                    <div #iframe style="width: 100%" [innerHTML]="setting?.map?.description"></div>
                </div>
                <div *ngIf="visibleContent" class="form_content">
                    <app-box [header]="'Обратная связь '">
                        <p error *ngIf="error">{{error}}</p>
                        <form [formGroup]="feedBackForm">
                            <div class="form_content">
                                <div class="form_group">
                                    <div class="label_wrapper">
                                        <label>Имя</label>
                                    </div>
                                    <div class="input_container">
                                        <input type="text" formControlName="name" />
                                        <span required-field
                                            *ngIf="feedBackForm.get('name').hasError('required') && feedBackForm.get('name').touched">Это
                                            обязательное поле *</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="label_wrapper_right">
                                        <label>Номер телефона</label>
                                    </div>
                                    <div class="input_container">
                                        <input type="text" formControlName="phone" prefix="+7" mask="(000) 000 00 00" />
                                        <span required-field
                                            *ngIf="feedBackForm.get('phone').hasError('required') && feedBackForm.get('phone').touched">Это
                                            обязательное поле *</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="label_wrapper_right">
                                        <label>Email</label>
                                    </div>
                                    <div class="input_container">
                                        <input type="text" formControlName="email" />
                                        <span required-field
                                            *ngIf="feedBackForm.get('email').hasError('required') && feedBackForm.get('email').touched">Это
                                            обязательное поле *</span>
                                        <span required-field
                                            *ngIf="feedBackForm.get('email').hasError('pattern') && feedBackForm.get('email').touched">Введите
                                            правильный email *</span>
                                    </div>
                                </div>
                                <div class="form_group_textarea" full-width>
                                    <div class="label_wrapper">
                                        <label>Ваше сообщение</label>
                                    </div>
                                    <div class="input_container textarea">
                                        <textarea formControlName="message"></textarea>
                                        <span required-field
                                            *ngIf="feedBackForm.get('message').hasError('required') && feedBackForm.get('message').touched">Это
                                            обязательное поле *</span>
                                    </div>
                                </div>
                            </div>
                            <div class="feedback_button">
                                <button (click)="onClickSendFeedBack()" [disabled]="feedBackForm.invalid || loading"
                                    [ngClass]="{'disabled':feedBackForm.invalid || loading}">
                                    <span>Отправить</span>
                                </button>
                            </div>
                        </form>
                    </app-box>
                </div>
            </div>

        </app-box>
    </div>
</div>