.message{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 0.83em 0;
}
.basket_container {
  .basket_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #efefef;
    padding: 24px 0 19px 0;
    justify-content: space-between;
    .discount {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      input[type="text"] {
        padding: 10.5px;
        min-width: 218px;
        border-radius: 0 ;
        -webkit-border-radius: 0px ;
        -moz-border-radius: 0px ;
        -khtml-border-radius: 0px;
        -webkit-appearance: none;
        border: 1px solid #f1eded;
        &::placeholder {
          color: gray;
          font-size: 13px;
        }
      }
      .get_discount {
        border: 1px solid black;
        border-radius: 0 ;
        -webkit-border-radius: 0px ;
        -moz-border-radius: 0px ;
        -khtml-border-radius: 0px;
        -webkit-appearance: none;
        padding: 10.5px;
        background-color: white;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    p {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      span {
        color: black;
      }
    }
  }

  .isPackContainer {
    max-width: 360px;
    width: 100%;
    height: 66px;
    border-radius: 0 ;
    -webkit-border-radius: 0px ;
    -moz-border-radius: 0px ;
    -khtml-border-radius: 0px;
    -webkit-appearance: none;
    border: 1px solid black;
    background-color: black;
    text-align: center;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    .center {
      margin: auto;
      .top {
        font-size: 13px;
        color: #fff;
        text-transform: uppercase;
      }
      .bottom {
        font-size: 13px;
        color: #fff;
      }
    }
    .checkbox {
      .checkmark {
        top: 18px;
        left: 10px;
      }
    }
  }

  .make_order {
    padding: 50px 0 20px 0;
    button {
      cursor: pointer;
      border: none;
      background-color: black;
      border: 1px solid black;
      padding: 15px 60px;
      margin: 0;
      transition: all 0.5s;
      border-radius: 0 ;
      -webkit-border-radius: 0px ;
      -moz-border-radius: 0px ;
      -khtml-border-radius: 0px;
      -webkit-appearance: none;
      span {
        font-size: 13px;
        color: white;
        font-weight: 500;
      }
      &:hover {
        background-color: white;
        span {
          color: black;
        }
      }
    }
  }
}

.order_container,
.basket_container {
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 30px;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: white;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox {
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-appearance: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    left: 11px;
    top: 3px;
    width: 8px;
    height: 17px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.order_container {
  .form_group {
 
    .label_wrapper_left {
      width: 100px;
    }
    .input_container {
      max-width: 455px;
      width: 100%;
      input[type="text"],
      textarea {
        width: 100%;
        padding: 12px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 0 ;
        -webkit-border-radius: 0px ;
        -moz-border-radius: 0px ;
        -khtml-border-radius: 0px;
        -webkit-appearance: none;
        box-sizing: border-box;
      }
    }
    .textarea {
      max-width: 1049px;
    }
    p-dropdown {
      max-width: 455px;
      width: 100%;
    }
  }
.authorized-label{
  .label_wrapper_right {
    width: 93px;
  }
}
.unauthorized-label{
  .label_wrapper_right {
    width: 183px;
  }
}
  .left,
  .right {
    width: 50%;
  }

  .right {
    .form_group {
      .input_container {
        max-width: 435px;
      }
    }
  }

  .right {
    margin-left: 3%;
  }
  .label {
    font-size: 20px;
    line-height: 18px;
  }
  .form_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      font-size: 15px;
    }

  }
  .req_message {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 300;
    color: grey;
    // color: #b9b9b9;
  }
  .price_container {
    width: 300px;
    .sh_price {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      position: relative;
      .abs_cont {
        width: fit-content;
        top: 0;
        right: -210px;
        position: absolute;
      }
      .paylater{
        width: 50%;
        text-align: end;
      }
    }
  }
  .payment_method {
    margin-top: 64px;

    .left,
    .right,
    .center {
      width: 33.33333% !important;
    }
    .left-container,
    .right-container,
    .center-container {
      width: 33.33333%;
    }
    .items {
      .item {
        display: flex;
        img {
          margin-left: 33px;
          margin-right: 34px;
        }
        .label {
          font-size: 14px;
        }
        .text_wrapper {
          width: 100%;
          padding-left: 33px;
          border-bottom: 1px solid #efefef;
          padding-bottom: 20px;
          .header {
            font-size: 15px;
            font-weight: 600;
            margin: 10px 0 0 0;
          }
          .under {
            font-size: 14px;
            margin: 0;
            font-weight: 600;
            margin-top: 6px;
          }
        }
        .text_payment{
          padding-bottom: 20px;
        }
       .text_bonus {
          padding-bottom:20px;
        }
      }
      .right_item {
        padding-top: 24px;
      }
      .img_wrapper {
        //padding: 23px 0;
        padding: 30px 0 16px 0;
        border-bottom: 1px solid #efefef;
        width: 100%;
      }
   
      .balance_item{
        padding-top: 24px
      }
    }
  }
}

.empty_basket {
  min-height: 484px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;

}

.discount_price {
  color: #7c7c7c !important;
  text-decoration: line-through;
}
.payment-container{
    padding: 0;
    width: 34px ;
    height: 34px;
    margin: 0;   
  }

  @media only screen and (max-width: 1061px){
    .payment_method{
      flex-wrap: wrap !important
    }
    .left-container,
    .right-container,
    .center-container {
      width: 50% !important;
    }
    // .right-container{
    //   width: 100% !important;
    // }
  }

@media only screen and (max-width: 700px) {
  .make_order_form {
    flex-direction: column !important;
    .left,
    .right {
      width: 100%;
    }
    .left-container,
    .right-container,
    .center-container {
      width: 100% !important;
    }
    .right {
      margin-left: 0 !important;
    }
    .input_container {
      max-width: initial !important;
    }
  }
  .label_wrapper_right{
    width: 100% !important
  }
  .textarea {
    max-width: initial !important;
  }
  .form_group {
    flex-direction: column !important;
    align-items: flex-start !important;
    width: 100% !important;
  }
  :host ::ng-deep {
    .ui-dropdown {
      max-width: initial !important;
    }
  }
 
}
@media only screen and (max-width: 601px) {
  .payment_method {
    margin-top: 10px !important;
    flex-direction: column !important;
    .left,
    .right {
      width: 100% !important;
    }
    .left-container,
    .right-container,
    .center-container {
      width: 100% !important;
    }
    .right {
      margin-left: 0 !important;
    }
  }
}
@media only screen and (max-width: 550px){
  .make_order {
    padding: 20px  0 !important;
  }
}
@media only screen and (max-width: 520px) {
  .make_order {
    button {
      width: 100% !important;
    }
  }
  .discount {
    input {
      width: 100% !important;
    }
    button {
      margin-left: 0 !important;
    }
  }
  .basket_info {
    justify-content: center !important;
  }
  .get_discount {
    margin-top: 10px;
    width: 100%;
  }
}
.disabled-bonuce{
  padding-top: 1px !important 
}
.disabled-balance{
  padding-top: 0px !important 
}