<div class="change_password_modal_cotent">
    <div class="change_password_modal_container">
        <p *ngIf="isCompleted" text-align-center>Ваш пароль успешно изменен </p>
        <p error *ngIf="error">{{error}}</p>
        <form [formGroup]="changePasswordForm">
            <div class="form_group">
                <label>Старый пароль:*</label>
                <input type="text" formControlName="oldPassword">
                <span required-field
                    *ngIf="changePasswordForm.get('oldPassword').hasError('required') && changePasswordForm.get('oldPassword').touched">Это
                    обязательное поле *</span>
            </div>
            <div class="form_group">
                <label>Новый пароль:*</label>
                <input type="password" formControlName="password">
                <span required-field
                    *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">Это
                    обязательное поле *</span>
            </div>
            <div class="form_group">
                <label>Повторите пароль:*</label>
                <input type="password" formControlName="confirmPassword">
                <span required-field
                    *ngIf="changePasswordForm.get('confirmPassword').hasError('MatchPassword') && changePasswordForm.get('confirmPassword').touched">Пароли
                    не совпадают *</span>
                <span required-field
                    *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">Это
                    обязательное поле *</span>
            </div>
            <div class="main-right-bottom">
                    <button  (click)="onClickChange()"
                    [ngClass]="{'disabled':changePasswordForm.invalid || loading}"
                    [disabled]="changePasswordForm.invalid || loading"><span>Подвердить</span></button>
                    <div class="button-right"><span><span class="star">*</span> поля обязательны для заполнения</span>
                    </div>
                </div>
        </form>
    </div>
</div>