<div position-relative>
    <ngx-carousel-3d [slides]="carouselItems" [options]="options" class="col-12" #carousel >
        <ngx-carousel-3d-slide *ngFor="let slide of carouselItems; let i = index" (click)="slideClicked(i)">
            <iframe width="100%" height="100%" [src]="'https://www.youtube.com/embed/'+slide.link.id | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
                
                {{slide.url}}
        </ngx-carousel-3d-slide>
    </ngx-carousel-3d>
    <button class='leftRs' (click)="onClickButton('prev')"><i class="material-icons icon">keyboard_arrow_left</i></button>
    <button class='rightRs' (click)="onClickButton('next')"><i class="material-icons icon">keyboard_arrow_right</i></button>
</div>