.buttons{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .continue{
        width: 50%;
        margin: 0 auto;
        transition: all 0.5s;
        background-color: black;
        border:1px solid black;
        border:none;
        border-radius: 0 ;
        -webkit-border-radius: 0px ;
        -moz-border-radius: 0px ;
        -khtml-border-radius: 0px;
        -webkit-appearance: none;
        padding:14px 1px;
        cursor: pointer;
        border:1px solid white;
        span{
            text-transform: uppercase;
            color:white;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
            
        }
        &:hover{
            background-color: white;
            border-color: black;
            span{
                color:black;
            }
        }
    }
    .restore_password{
        cursor: pointer;
        text-align: center;
        font-size: 13px;
        padding:0;
        width: 100%;
        line-height: 20px;
        text-decoration: underline;
    }
    
}

.label{
    font-size: 26px;
    line-height: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 25px;
}
.form_group{
    margin-top: 15px;
    label{
        font-size: 13px;
        line-height: 20px;
    }
    input[type=text],input[type=password]{
        margin-top:10px;
        border-radius: 0 ;
        -webkit-border-radius: 0px ;
        -moz-border-radius: 0px ;
        -khtml-border-radius: 0px;
        -webkit-appearance: none;
        border: 1px solid #cccccc;
        height: 41px;
        width: 100%;
        font-weight: 500;
    }
    &:first-child{
        margin-top: 0;
    }
}

.message{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}