<div class="recover-password-modal-content">
    <div class="rcm-container">
        <div *ngIf="!isSended">
            <p text-align-center font-bold>ВВЕДИТЕ ВАШ E-MAIL</p>
            <form class="recoverPassForm" [formGroup]="recoverPassForm" (ngSubmit)="onClickContinue()">
                <div class="form_group">
                    <label for='email'>E-mail:</label>
                    <input type="text" formControlName="email" />
                    <span required-field
                        *ngIf="recoverPassForm.get('email').hasError('required') && recoverPassForm.get('email').touched">Это
                        обязательное поле *</span>
                    <span required-field
                        *ngIf="recoverPassForm.get('email').hasError('pattern') && recoverPassForm.get('email').touched">Введите
                        правильный email *</span>
                </div>
            </form>
            <div class="buttons">
                <button class="continue" (click)="onClickContinue()" [disabled]="recoverPassForm.invalid"
                    [ngClass]="{'disabled':recoverPassForm.invalid}">
                    <span>ПРОДОЛЖИТЬ</span>
                </button>
            </div>
        </div>
        <div *ngIf="isSended">
            <p class="message">Спасибо ваш новый пароль отправлен на E-Mail {{recoverPassForm.get('email').value}}</p>
            <div class="buttons">
                <button class="continue" (click)="onClickOk()">
                    <span>ПОНЯТНО</span>
                </button>
            </div>
        </div>
    </div>
</div>