.category_name{
    border-bottom: 1px solid #ebebeb;
    padding: 0 10px;
    height: 40px;
}
.open-list{
    border-bottom: 1px solid #ebebeb;
}
.active{
    border-bottom:none !important;
    background: #f1f1f1
}
.arrow_icon{
    font-size: 30px;
    color: grey;
}