.products-table{
    border-spacing: 0;
    table-layout: auto;
    thead{
        background-color: #e3e3e3;
        .product-header{
            text-align: start;
            padding-left: 25px;        
        }
        .t-head{
            font-size: 16px;
            color:black;
            font-weight: 300;
            height: 45px;
           // padding:7px 0;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    tbody{
        .t-body{
            text-align: center;
            font-size: 16px;
            color:black;
            font-weight: 500;
           // padding:7px 0;
            text-transform: uppercase;
            max-width: 280px;
            .product_descp{
                display: flex;
                align-items: center;
                .img{
                    min-width: 90px;
                    min-height: 90px;
                    margin-right: 5px;
                    img{
                        max-width:90px; 
                        width: auto;
                        height: auto;
                        max-height: 90px;
                        margin:0 auto;
                    }
                }
                p{
                    word-break: break-all;
                    text-align: left;
                }
            }
        }
    }
}
@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px){
    th{
        font-size: 9px !important;
        height: 33px !important;
    }
    td{
        font-size: 8px !important;    
     
    }
}