<div *ngFor="let review of data" position-relative class="reviews_container border" display-flex>
    <div>
        <img [src]="getUserImage(review)" class="main_user_img" alt="">
    </div>

    <div class="comments_container" full-width>
        <div class="comments_info" margin-bottom-10 full-width height-fit justify-content-space-beetwen display-flex align-items-center>
            <div class="name">{{review?.name}}</div>
            <div class="comment_date">{{review?.create_date | date_locale_format}}</div>
        </div>
        <div *ngIf="review.advantages" class="comments border-bottom">
            <div class="comment_type">Достоинства</div>
            <div class="comment_text">
              {{review?.advantages}}
            </div>
        </div>
        <div *ngIf="review.limitations" class="comments border-bottom">
            <div class="comment_type">Недостатки</div>
            <div class="comment_text">
                {{review?.limitations}}
            </div>
        </div>
        <div *ngIf="review.comments" class="comments border-bottom">
            <div class="comment_type">Комментарии</div>
            <div class="comment_text">
               {{review?.comments}}
            </div>
        </div>
        <div *ngIf="review.isShow && review.admin_answer" class="answer_comment">
            <div class="reviews_container border-bottom"  display-flex>
                <div>
                    <img class="answer_user_img" src="/assets/images/logo.jpg" alt="">
                </div>
                <div class="comments_container" full-width>
                    <div class="comments_info" margin-bottom-7 full-width height-fit justify-content-space-beetwen display-flex
                        align-items-center>
                        <div class="answer_user_name">Админ</div>
                        <div class="comment_date">{{review?.create_date | date_locale_format}}</div>
                    </div>
                    <div  margin-top-5>
                        <div class="comment_text">
                            {{review?.admin_answer}}
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="review.admin_answer" class="buttons">
            <button (click)="hideComments(review)">{{review?.buttonText}} комментарии</button>
        </div>
    </div>
</div>
<app-box [isP]="true" [header]="'Комментировать'">
    <form [formGroup]="commentForm" action="">
        <div class="inputs_group" display-flex>
            <div class="left">
                <div class="form_group">
                    <div class="label_wrapper_left">
                        <label>ФИО</label>
                    </div>
                    <div class="input_container">
                        <input type="text" formControlName="name" />
                        <span required-field
                            *ngIf="commentForm.get('name').hasError('required') && commentForm.get('name').touched">Это
                            обязательное поле *</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="form_group">
                    <div class="label_wrapper_left">
                        <label>Ваша почта</label>
                    </div>
                    <div class="input_container">
                        <input type="text" formControlName="email" />
                        <span required-field
                            *ngIf="commentForm.get('email').hasError('required') && commentForm.get('email').touched">Это
                            обязательное поле *</span>
                        <span required-field
                            *ngIf="commentForm.get('email').hasError('pattern') && commentForm.get('email').touched">Введите
                            правильный email *</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="inputs_group" display-flex>
            <div class="left">
                <div class="form_group">
                    <div class="label_wrapper_left">
                        <label>Достоинства</label>
                    </div>
                    <div class="input_container">
                        <textarea type="text" formControlName="advantages"></textarea>
                        <span required-field
                            *ngIf="commentForm.get('advantages').hasError('required') && commentForm.get('advantages').touched">Это
                            обязательное поле *</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="form_group">
                    <div class="label_wrapper_left">
                        <label>Недостатки</label>
                    </div>
                    <div class="input_container">
                        <textarea formControlName="limitations"></textarea>
                        <span required-field
                        *ngIf="commentForm.get('limitations').hasError('required') && commentForm.get('limitations').touched">Это
                        обязательное поле *</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group">
            <div class="label_wrapper_left">
                <label>Комментарии</label>
            </div>
            <div full-width class="input_container">
                <textarea formControlName="comments"></textarea>
                <span required-field
                *ngIf="commentForm.get('comments').hasError('required') && commentForm.get('comments').touched">Это
                обязательное поле *</span>
            </div>
        </div>
        <button [ngClass]="{'disabled':commentForm.invalid || isCheck}" (click)="addReview()" [disabled]="commentForm.invalid"
            class="add_comment_button">Добавить Комментарии</button>
    </form>
</app-box>