<div class="basket_list_content">
    <div class="basket_list_container">
        <table >
            <thead>
                <tr>
                    <th><span class="label">НАИМЕНОВАНИЕ</span></th>
                    <th><span class="label">ЦЕНА</span></th>
                    <th><span class="label">КОЛИЧЕСТВО</span></th>
                    <th><span class="label">СТОИМОСТЬ</span></th>
                    <th></th>
                </tr>
            </thead>
            <ng-content></ng-content>
        </table>
    </div>
</div>