<div [ngClass]="{'no-side-padding':!isSlideNav,'multi_select':multiSelect,'no-padding':!multiSelect && isMain}"
    class="item">
    <div [ngClass]="{'header_menu':!multiSelect && isMain,'active_category':(activeCategory && !multiSelect &&  isMain)}"
        class="header">
        <span class="label" [ngClass]="{'active_header':(activeCategory && !isMain) }"
            (click)="onClickCategory(category,isParent)">{{category.name}}</span>
        <div class="button" [ngClass]="{'active_button':activeCategory,'not-arrow-button':(multiSelect || !isMain)}"
            *ngIf="category?.subCategory?.length>0" (click)="onClickButton()">
            <span *ngIf="isMain">
                <i class="arrow_icon material-icons">
                    {{(activeCategory)?'keyboard_arrow_down':'keyboard_arrow_right'}}
                </i>
            </span>
            <span *ngIf="!isMain"> {{(activeCategory) ? '-':'+'}} </span>
        </div>
        <span (click)="onClickCategory(category)" *ngIf="multiSelect && !category?.subCategory?.length"
            [class.multy_subcategory]="multiSelect" class="subcategory_item">
            <span [class.active]="category.isSelect" class="checkbox"></span>
        </span>
    </div>
    <div class="inner" [class.scroll]="multiSelect" *ngIf="activeCategory" #inner>
        <div *ngFor="let item of category?.subCategory;let i=index">
            <div [class.padding-10]="!multiSelect" class="header">
                <div full-width display-flex align-items-center (click)="onClickCategory(item)" class="subcategory_item"
                    [ngClass]="{'multy_subcategory':multiSelect,'subcategory_item_2':!multiSelect && isMain,
                'line-height-30':!item.subCategory}">
                    <span [class.text-underline]="!multiSelect && !isMain">{{item.name}}</span>
                    <span *ngIf="multiSelect" [class.active]="item.isSelect" class="checkbox"></span>
                </div>

                <div class="button not-arrow-button" [ngClass]="{'active_button':item.isActive}"
                    *ngIf="item.subCategory && item?.subCategory?.length>0" (click)="onClickSubcategoryButton(item)">
                    <span grey> {{(item.isActive) ? '-':'+'}} </span></div>
            </div>
            <div class="third_deep_subcategory" *ngIf="item.isActive">
                <span class="label category_subcategory" *ngFor="let subcategory of item?.subCategory"
                    (click)="onClickCategory(subcategory)">{{subcategory.name}}</span>
            </div>

        </div>

    </div>
</div>